# Premier League Analysis
<br><br>

![](https://pbs.twimg.com/media/EkDX0iOXYAAquOl.jpg)

<br>

The Premier League is the highest tiered football league in the English football league system. 20 clubs contest in the league and the team on the top of the standings at the end of the season is declared as the winner of the Premier League.
<br><br>
The top 4 teams play in the [UEFA Champions League](https://en.wikipedia.org/wiki/UEFA_Champions_League), 2 teams below the top 4 play in the [UEFA Europa League](https://en.wikipedia.org/wiki/UEFA_Europa_League) and the team below them plays the Conference League. 
<br><br>
The bottom 3 teams in the table are relegated to the EFL Championship which is the lower tier of the English football league system.
<br><br>
Each team plays 38 matches in total, twice against each of the rest of the teams throughout the season.

<br><br>

This project features dataset involving stats for individual fixtures as well as full season stats for individual teams in the Premier League since the season '2006/07' and till the season '2017/18'.

For the data described above, there are two datasets I found on Kaggle that I'll be using for the project.

## The Data

>### Data 1

>>[Data Link](https://www.kaggle.com/datasets/zaeemnalla/premier-league?select=results.csv)
<br> <br>
The first dataset we have been provided with is the one that shows all the game results for the fixtures during the period of seasons 2006/07 till 2017/18. This data can be easily tweaked and converted into a more compact form.

>>#### Data Description
<br><br>
>>>**Data Dimensions:**
>>>- **Rows**- 4560
>>>- **Columns**- 6

>>>**Columns:**
<br>
>>>- **home_team** - The home team involved in that particular fixture.
>>>- **away_team** - The visiting team involved in the fixture.
>>>- **home_goals** - The number of goals the home team scored.
>>>- **away_goals** - The number of goals the visiting team scored.
>>>- **result** - The result of the particular fixture(in discrete values like D(Draw), H(Home Team), A(Visiting Team)).
>>>- **season** - The season in which the fixture was organized.

>### Data 2

>> [Data Link](https://www.kaggle.com/datasets/zaeemnalla/premier-league?select=stats.csv)
<br><br>
The second dataset among the two gives super detailed stats for each team in each different season. Although, the second dataset is more compact as compared to the first one, but still it provides more info compared to the first one because of a higher number of attributes.

>>#### Data Description
<br><br>
>>>**Data Dimensions:**
<br>
>>>- **Rows** - 240
>>>- **Columns** - 42

>>>**Columns:**
>>>- **team** - The team which the other attributes show stats for.
>>>- **wins** - Number of wins the team had in that particular season.
>>>- **losses** - Number of losses the team had in that particular season.
>>>- **goals** - The number of goals the team scored in that particular season.
>>>- **total_yel_card** - The number of yellow cards generated against the team in that season.
>>>- **total_red_card** - The number of red cards generated against the team in that season.
>>>- **total_scoring_att** - The total number of shots taken by the team during attacking.
>>>- **ontarget_scoring_att** - The total number of shots hit on target by the team.
>>>- **hit_woodwork** - The total number of shots that hit the woodwork (goal post).
>>>- **att_hd_goal** - The number of goals scored using headers.
>>>- **att_pen_goal** - The number of goals scored from penalties.
>>>- **att_freekick_goal** - The number of goals scored from free kicks.
>>>- **att_ibox_goal** - The number of goals scored by players standing inside the box at time of contact.
>>>- **att_obox_goal** - The number of goals scored by players standing outside the box at time of contact.
>>>- **goal_fastbreak** - The number of goals scored from counter attacks.
>>>- **total_offside** - The number of offside fouls conceded by the team.
>>>- **clean_sheet** - The number of clean sheets(no goals conceded during a macth) the team had.
>>>- **goals_conceded** - The total number of goals conceded during the season.
>>>- **saves** - The number of succesful saves by the team (goalkeepers).
>>>- **outfielder_block** - The number of shots blocked by defenders before reaching the goal or the goalkeeper.
>>>- **interception** - The number of succesful interceptions by players against opponent passes.
>>>- **total_tackle** - The number of tackles put in by the players of the team.
>>>- **last_man_tackle** - The number of times defenders fouled the opponent attacker being the last man defending.
>>>- **total_clearance** - The number of clearances made by defenders against attacks.
>>>- **head_clearance** - The number of headed clearances by the defenders.
>>>- **own_goals** - The number of own goals scored by the players of the team.
>>>- **penalty_conceded** - The number of penalties conceded by the team.
>>>- **pen_goals_conceded** - The number of goals conceded from penalties.
>>>- **total_pass** - The total number of passes made throughout the season.
>>>- **total_through_ball** - The total number of through balls made by the team.
>>>- **total_long_balls** - Total long ball passes made by the team.
>>>- **backward_pass** - The number of backward passes(back to GK) made by the team.
>>>- **total_cross** - The total number of crosses put in by the team.
>>>- **corner_taken** - The number of corners taken by the team.
>>>- **touches** - Total touches made with the ball by the players of the team.
>>>- **big_chance_missed** - Number of big chances missed by the players.
>>>- **clearance_off_line** - Number of clearances made off the goal line.
>>>- **dispossessed** -  The number of times the team was dispossessed by the opponent team.
>>>- **penalty_save** - The number of penalties saved by the team.
>>>- **total_high_claim** - Number of high claims by the goalkeepers.
>>>- **punches** - The number of punchaways to the balls by the goalkeepers.
>>>- **season** - This is the actual column that specifies the season the rest of the info is about.

### Importing Required Libraries

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

<br>

### Data Cleaning

We'll be cleaning the datasets one by one.

In [5]:
results = pd.read_csv('results.csv')
results

,home_team,away_team,home_goals,away_goals,result,season
0,Sheffield United,Liverpool,1.0,1.0,D,2006-2007
1,Arsenal,Aston Villa,1.0,1.0,D,2006-2007
2,Everton,Watford,2.0,1.0,H,2006-2007
3,Newcastle United,Wigan Athletic,2.0,1.0,H,2006-2007
4,Portsmouth,Blackburn Rovers,3.0,0.0,H,2006-2007
...,...,...,...,...,...,...
4555,Newcastle United,Chelsea,3.0,0.0,H,2017-2018
4556,Southampton,Manchester City,0.0,1.0,A,2017-2018
4557,Swansea City,Stoke City,1.0,2.0,A,2017-2018
4558,Tottenham Hotspur,Leicester City,5.0,4.0,H,2017-2018
4559,West Ham United,Everton,3.0,1.0,H,2017-2018

In [6]:
pd.isnull(results).sum()

home_team     0
away_team     0
home_goals    0
away_goals    0
result        0
season        0
dtype: int64

No generic null values in the first dataset.

In [7]:
results.duplicated().sum()

0

No duplicate results as well.

As these are results of individual fixtures, there can't be any outliers. The only outlier factors will be score differences but those can't be treated as outliers.

Moving on the second dataset.

In [8]:
stats = pd.read_csv('stats.csv')
stats

,team,wins,losses,goals,total_yel_card,total_red_card,total_scoring_att,ontarget_scoring_att,hit_woodwork,att_hd_goal,...,total_cross,corner_taken,touches,big_chance_missed,clearance_off_line,dispossessed,penalty_save,total_high_claim,punches,season
0,Manchester United,28.0,5.0,83.0,60.0,1.0,698.0,256.0,21.0,12.0,...,918.0,258.0,25686.0,NaN,1.0,NaN,2.0,37.0,25.0,2006-2007
1,Chelsea,24.0,3.0,64.0,62.0,4.0,636.0,216.0,14.0,16.0,...,897.0,231.0,24010.0,NaN,2.0,NaN,1.0,74.0,22.0,2006-2007
2,Liverpool,20.0,10.0,57.0,44.0,0.0,668.0,214.0,15.0,8.0,...,1107.0,282.0,24150.0,NaN,1.0,NaN,0.0,51.0,27.0,2006-2007
3,Arsenal,19.0,8.0,63.0,59.0,3.0,638.0,226.0,19.0,10.0,...,873.0,278.0,25592.0,NaN,1.0,NaN,0.0,88.0,27.0,2006-2007
4,Tottenham Hotspur,17.0,12.0,57.0,48.0,3.0,520.0,184.0,6.0,5.0,...,796.0,181.0,22200.0,NaN,2.0,NaN,0.0,51.0,24.0,2006-2007
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,Huddersfield Town,9.0,19.0,28.0,62.0,3.0,362.0,109.0,8.0,5.0,...,765.0,165.0,22619.0,21.0,6.0,416.0,2.0,31.0,24.0,2017-2018
236,Swansea City,8.0,21.0,28.0,51.0,1.0,338.0,103.0,8.0,3.0,...,694.0,150.0,22775.0,26.0,1.0,439.0,3.0,44.0,15.0,2017-2018
237,Southampton,7.0,16.0,37.0,63.0,2.0,450.0,145.0,15.0,7.0,...,800.0,227.0,24639.0,37.0,4.0,379.0,1.0,29.0,13.0,2017-2018
238,Stoke City,7.0,19.0,35.0,62.0,1.0,384.0,132.0,8.0,8.0,...,598.0,136.0,20368.0,33.0,3.0,402.0,0.0,27.0,14.0,2017-2018
239,West Bromwich Albion,6.0,19.0,31.0,73.0,1.0,378.0,114.0,7.0,10.0,...,784.0,176.0,20552.0,28.0,3.0,446.0,0.0,40.0,5.0,2017-2018

In [9]:
stats.isnull().sum()

team                     0
wins                     0
losses                   0
goals                    0
total_yel_card           0
total_red_card           0
total_scoring_att        0
ontarget_scoring_att     0
hit_woodwork             0
att_hd_goal              0
att_pen_goal             0
att_freekick_goal        0
att_ibox_goal            0
att_obox_goal            0
goal_fastbreak           0
total_offside            0
clean_sheet              0
goals_conceded           0
saves                   20
outfielder_block         0
interception             0
total_tackle             0
last_man_tackle          0
total_clearance          0
head_clearance          20
own_goals                0
penalty_conceded         0
pen_goals_conceded       0
total_pass               0
total_through_ball      20
total_long_balls         0
backward_pass           80
total_cross              0
corner_taken             0
touches                  0
big_chance_missed       80
clearance_off_line       0
dispossessed            20
penalty_save             0
total_high_claim         0
punches                  0
season                   0
dtype: int64

As we can see, there are numerous null values in the second dataset.

In [17]:
stats[stats.backward_pass.isnull()][['saves', 'head_clearance', 'total_through_ball', 'backward_pass', 'big_chance_missed', 'dispossessed']]

,saves,head_clearance,total_through_ball,backward_pass,big_chance_missed,dispossessed
0,2.0,NaN,NaN,NaN,NaN,NaN
1,4.0,NaN,NaN,NaN,NaN,NaN
2,1.0,NaN,NaN,NaN,NaN,NaN
3,6.0,NaN,NaN,NaN,NaN,NaN
4,11.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
75,0.0,784.0,60.0,NaN,NaN,410.0
76,0.0,775.0,83.0,NaN,NaN,524.0
77,4.0,870.0,164.0,NaN,NaN,522.0
78,0.0,751.0,95.0,NaN,NaN,497.0
79,0.0,805.0,46.0,NaN,NaN,535.0

So, not all the null values occur simultaneously in all the columns.

The crucial attributes out of the ones having null values will be:
<br><br>
- saves
- big_chances_missed
<br>

The ones that can be ignored or won't be as crucial in the analysis are:
<br><br>
- head_clearance
- total_through_ball
- backward_pass
- dispossessed

The column named 'big_chances_missed' has a lot of null values and won't be as accurate and able to provide the correct figures for all the individual teams. At the same time, these values can't be predicted or calculated using other teams' values.
<br><br>
The two options for this will be either to drop the column or use this in analysing the data for the team for which the data is available at all or for all seasons.

---
<br>
Let's start working on the first dataset.

<br>

In [18]:
results.head(10)

,home_team,away_team,home_goals,away_goals,result,season
0,Sheffield United,Liverpool,1.0,1.0,D,2006-2007
1,Arsenal,Aston Villa,1.0,1.0,D,2006-2007
2,Everton,Watford,2.0,1.0,H,2006-2007
3,Newcastle United,Wigan Athletic,2.0,1.0,H,2006-2007
4,Portsmouth,Blackburn Rovers,3.0,0.0,H,2006-2007
5,Reading,Middlesbrough,3.0,2.0,H,2006-2007
6,West Ham United,Charlton Athletic,3.0,1.0,H,2006-2007
7,Bolton Wanderers,Tottenham Hotspur,2.0,0.0,H,2006-2007
8,Manchester United,Fulham,5.0,1.0,H,2006-2007
9,Chelsea,Manchester City,3.0,0.0,H,2006-2007